body {

    /*background: url("${path}/page/common/img/bg_login.png") no-repeat;*/
    /*background-size: 100% 100% ;*/
    color: #ffffff;
    min-height: 600px;
}

.szwhite {
    color: #ffffff;
}

.szblack {
    color: #262626;
}

/* 需要在 bootstrap.css 之后调用 */
/* Fuck 15px for iPhone Start */
.row{margin:0;}
.col-lg-1,.col-lg-10,.col-lg-11,.col-lg-12,.col-lg-2,.col-lg-3,.col-lg-4,.col-lg-5,.col-lg-6,.col-lg-7,.col-lg-8,.col-lg-9,.col-md-1,.col-md-10,.col-md-11,.col-md-12,.col-md-2,.col-md-3,.col-md-4,.col-md-5,.col-md-6,.col-md-7,.col-md-8,.col-md-9,.col-sm-1,.col-sm-10,.col-sm-11,.col-sm-12,.col-sm-2,.col-sm-3,.col-sm-4,.col-sm-5,.col-sm-6,.col-sm-7,.col-sm-8,.col-sm-9,.col-xs-1,.col-xs-10,.col-xs-11,.col-xs-12,.col-xs-2,.col-xs-3,.col-xs-4,.col-xs-5,.col-xs-6,.col-xs-7,.col-xs-8,.col-xs-9{padding:0;}


/*用户名密码输入内容区*/
/*login*/
.bottommsg {
    margin: auto;
    height: 108px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 8px;
    padding: 10px 0;
}

/*rgister*/
.form-group {
    /*background: rgba(255, 255, 255, 0.0);*/
    height: 54px;
}

.input-group {
    height: 44px;
}

.input-group > span {
    border: none;
    background: rgba(255, 255, 255, 0.0);
    font-size: 20px;
    height: 44px;

}
.input-group > input {
    -webkit-appearance: none;
    border-radius: 0;
    -webkit-border-radius: 0;
    text-indent: 5px;
    padding-left: 0;
    color: #ffffff;
    background: rgba(255, 255, 255, 0.1);
    border: none;
    height: 44px;
    line-height: 44px;
    outline: none;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -o-box-shadow: none;
    /*border-top: 1px solid #ffffff;*/

}

/*style="background: rgba(255,255,255,0.1);border: none;outline: none"*/


.registerpanel {
    margin: auto;
    height: 270px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 8px;
}

.registerpanel  >.inputmsg {
    padding: 10px 0;
}

.registerpanel >.inputmsg > span {
    top:10px;
    left: 10px;
    width: 20px;
    height: 44px;
    font-size: 22px;
}

.registerpanel .inputmsg .validate {
    width: 85%;

    margin-left:20px;
    height: 44px;
    line-height: 44px;
    border: none;
    outline:none;
    background: rgba(1,1,1,0);
    color: #ffffff;
    border-bottom: 1px solid #ffffff;
    display: inline-block;
}

.registerpanel .inputmsg .validate input {
    margin-left: 0;
    width: auto;
    text-indent: 0px;
    text-align: left;
    -webkit-appearance: none;
    border-radius: 0;
    -webkit-border-radius: 0;
}

.registerpanel .inputmsg .validate button {
    margin-right: 0;

    width: auto;
    height: 44px;
    border: none;

    background: rgba(255,255,255,0.2);
}



.section-2 {
    height: 108px;
    background: rgba(255, 255, 255, 0.1);
    width: 100%;

}

.section-2 .sec2 {
    height: 54px;
    padding: 0px 0 0;
    line-height: 54px;
}

.section-2 .sec2 .date span {
    width: 20px;
    height: 20px;

}



/*register*/

.inputmsg select {
    width: 85%;
    margin-left: 20px;
    text-indent: 0px;
    height: 44px;
    border: none;
    outline:none;
    background: rgba(1,1,1,0);
    color: #ffffff;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -khtml-border-radius: 0;
    -webkit-appearance:button;
    border-bottom: 1px solid #ffffff;
}
/*login*/
.inputmsg {
    /*margin: auto;*/
    height: 54px;
    line-height: 54px;

}
.inputmsg linemsg {
    width: 90%;
}
.inputmsg span {
    left: 10px;
    width: 20px;
    height: 54px;
    line-height: 54px;
    /*top:10px;*/
    font-size: 22px;
}

.registerpanel .inputmsg input {
    width: 85%;
    margin-left: 20px;
    height: 54px;
    line-height: 54px;
    padding: 10px 0;
    border: none;
    outline: none;
    background: rgba(1,1,1,0);
    color: #ffffff;
    /*-webkit-appearance: none;*/
    border-radius: 0;
    -webkit-border-radius: 0;
    /*width: 85%;*/
    /*margin-left:20px;*/
    /*height: 44px;*/
    /*border: none;*/
    /*outline:none;*/
    /*background: rgba(1,1,1,0);*/
    /*color: #ffffff;*/
    /*-webkit-appearance: none;*/
    /*border-radius: 0;*/
    /*-webkit-border-radius: 0;*/
    /*-moz-border-radius: 0;*/
 }


/*register*/
.registerpanel > div span+ input{
    border-bottom: 1px solid #fff;
    -webkit-appearance: none;
    border-radius: 0;
    -webkit-border-radius: 0;
}
.registerpanel > div:last-child span+ input{
    border-bottom: none;
    -webkit-appearance: none;
    border-radius: 0;
    -webkit-border-radius: 0;
}
/*login*/
.bottommsg > div:first-child span+ input{
    border-bottom: 1px solid #fff;
    -webkit-appearance: none;
    border-radius: 0;
    -webkit-border-radius: 0;
}



/*提交信息*/
.submitBtn {
    width: 100%;
    height: 100%;
}
.submitBtn input {
    width: 100%;
    height: 54px;
    background: #3687cb;
    /*background: rgba(255,255,255,0.1);*/
    border-radius: 8px;
    padding: 10px auto;
    /*border: 1px solid #22a9ba;*/
    border: none;
    outline:none;
    color: #ffffff;
    font-size: 18px;
    /*border: 1px solid #ffffff;*/
}

.submitBtn span {
    padding: 5px;
}


/*顶部内容区*/

.top {
    margin-top:25%;
}

/*内容区距离上部*/
.content {
    margin-top:140px;
}
/*行间隔大小*/
.linespace {
    padding: 10px;
}


/*底部内容区*/

.footer {
    margin-top:120px;
    margin-bottom: 20px;
}


/*placeholder*/



::-webkit-input-placeholder { color:#ffffff; }
::-moz-placeholder { color:#ffffff; } /* firefox 19+ */
:-ms-input-placeholder { color:#ffffff; } /* ie */
input:-moz-placeholder { color:#ffffff; }

