<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.atat.device.dao.DeviceMapper">

    <insert id="addDevice" parameterType="java.util.Map">
        INSERT INTO Device
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="DeviceTypeId != null">
                DeviceTypeId,
            </if>
            <if test="DeviceNo != null">
                DeviceNo,
            </if>
            <if test="State != null">
                State,
            </if>
            <if test="DeviceData != null">
                DeviceData,
            </if>
            <if test="Name != null">
                Name,
            </if>
            <if test="Reserve1 != null">
                Reserve1,
            </if>
            <if test="GetwayId != null">
                GetwayId,
            </if>
            IsDeleted
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="DeviceTypeId != null">
                #{DeviceTypeId,jdbcType=INTEGER},
            </if>
            <if test="DeviceNo != null">
                #{DeviceNo,jdbcType=VARCHAR},
            </if>
            <if test="State != null">
                #{State,jdbcType=INTEGER},
            </if>
            <if test="DeviceData != null">
                #{DeviceData,jdbcType=VARCHAR},
            </if>
            <if test="Name != null">
                #{Name},
            </if>
            <if test="Reserve1 != null">
                #{Reserve1},
            </if>
            <if test="GetwayId != null">
                #{GetwayId,jdbcType=INTEGER},
            </if>
            0
        </trim>
    </insert>

    <!--CREATE TABLE `Device` (-->
    <!--`id` int(11) unsigned NOT NULL AUTO_INCREMENT COMMENT '设备ID',-->
    <!--`DeviceTypeId` int(11) NOT NULL COMMENT '设备类型Id',-->
    <!--`DeviceNo` varchar(255) DEFAULT NULL COMMENT '设备号',-->
    <!--`State` tinyint(4) DEFAULT NULL COMMENT '设备状态',-->
    <!--`DeviceData` varchar(500) DEFAULT NULL COMMENT '设备数据',-->
    <!--`CreatedDate` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP COMMENT '创建时间',-->
    <!--`ModifiedDate` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP COMMENT '修改时间',-->
    <!--`IsDeleted` tinyint(4) NOT NULL DEFAULT '0' COMMENT '是否删除 1:是 2:否',-->
    <!--`GetwayId` int(11) DEFAULT NULL COMMENT '网关Id',-->
    <!--`Name` varchar(255) DEFAULT NULL COMMENT '预留字段3',-->
    <!--`Reserve1` varchar(255) DEFAULT NULL COMMENT '预留字段2',-->
    <!--PRIMARY KEY (`id`)-->
    <!--) ENGINE=InnoDB DEFAULT CHARSET=utf8 COMMENT='设备表';-->


    <select id="selectDeviceList" parameterType="java.util.Map"
            resultType="java.util.Map">
        SELECT
        de.id, de.DeviceTypeId deviceTypeId, de.DeviceNo,
        de.State deviceState, de.DeviceData, de.Reserve1 deviceReserve1,
        de.Name deviceName,de.GetwayId deviceGetwayId,
        dt.Name deviceTypeName, dt.Model deviceTypeModel, dt.Attention deviceTypeAttention,
        dt.Describtion deviceTypeDescribtion, dt.Reserve deviceTypeReserve,
        dg.GatewayPort gatewayGatewayPort, dg.IP gatewayIP, dg.Address gatewayAddress,
        dg.Reserve gatewayReserve
        FROM
        Device de
        LEFT JOIN DeviceType dt ON de.DeviceTypeId = dt.id
        LEFT JOIN Gateway dg ON de.GetwayId = dg.id
        WHERE
        de.IsDeleted = 0
        <if test="deviceId  != null and deviceId != ''">
            and de.id = #{deviceId,jdbcType=INTEGER}
        </if>
        <if test="deviceTypeId  != null and deviceTypeId != ''">
            and de.DeviceTypeId = #{deviceTypeId,jdbcType=INTEGER}
        </if>
        <if test="DeviceNo  != null and DeviceNo != ''">
            and de.DeviceNo = #{DeviceNo}
        </if>
        <if test="deviceState  != null">
            and de.State = #{deviceState,jdbcType=INTEGER}
        </if>
        <if test="DeviceData  != null and DeviceData != ''">
            and de.DeviceData = #{DeviceData}
        </if>
        <if test="deviceReserve1  != null">
            and de.Reserve1 = #{deviceReserve1}
        </if>
        <if test="deviceName  != null">
            and de.Name = #{deviceName}
        </if>
        <if test="deviceGetwayId  != null">
            and de.GetwayId = #{deviceGetwayId,jdbcType=INTEGER}
        </if>
        <if test="deviceTypeName  != null and deviceTypeName != ''">
            and dt.Name = #{deviceTypeName}
        </if>
        <if test="deviceTypeModel  != null and deviceTypeModel != ''">
            and dt.id = #{deviceTypeModel}
        </if>
        <if test="gatewayGatewayPort  != null">
            and dg.GatewayPort = #{gatewayGatewayPort,jdbcType=INTEGER}
        </if>
        <if test="gatewayIP  != null and gatewayIP != ''">
            and dg.IP = #{gatewayIP}
        </if>
        <if test="gatewayAddress  != null and gatewayAddress != ''">
            and dg.Address = #{gatewayAddress}
        </if>
        ORDER BY id ASC
    </select>

    <update id="updateDeviceById" parameterType="java.util.Map">
        update Device
        <trim prefix="set" suffixOverrides=",">
            <if test="DeviceTypeId != null">
                DeviceTypeId=#{DeviceTypeId},
            </if>
            <if test="DeviceNo != null">
                DeviceNo=#{DeviceNo},
            </if>
            <if test="State != null">
                State=#{State},
            </if>
            <if test="DeviceData != DeviceData">
                DeviceData=#{DeviceData},
            </if>
            <if test="Reserve1 != null">
                Reserve1=#{Reserve1},
            </if>
            <if test="Name != null">
                Name=#{Name},
            </if>
            <if test="GetwayId != null">
                GetwayId=#{GetwayId},
            </if>
            <if test="IsDeleted != null">
                IsDeleted= #{IsDeleted},
            </if>
            ModifiedDate = NOW()
        </trim>
        where id = #{DeviceId}
    </update>

    <!--CREATE TABLE `DeviceType` (-->
    <!--`id` int(11) unsigned NOT NULL AUTO_INCREMENT COMMENT '设备类型ID',-->
    <!--`Name` varchar(255) NOT NULL COMMENT '类型名称',-->
    <!--`Model` varchar(255) NOT NULL COMMENT '设备型号',-->
    <!--`Attention` varchar(500) DEFAULT NULL COMMENT '设备类型注意事项',-->
    <!--`Describtion` varchar(500) DEFAULT NULL COMMENT '设备类型介绍',-->
    <!--`CreatedDate` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP COMMENT '创建时间',-->
    <!--`ModifiedDate` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP COMMENT '修改时间',-->
    <!--`IsDeleted` tinyint(4) NOT NULL DEFAULT '0' COMMENT '是否删除 1:是 2:否',-->
    <!--`Reserve` varchar(255) DEFAULT NULL COMMENT '预留字段',-->
    <!--PRIMARY KEY (`id`)-->
    <!--) ENGINE=InnoDB DEFAULT CHARSET=utf8 COMMENT='设备类型表';-->

    <insert id="addDeviceType" parameterType="java.util.Map">
        INSERT INTO DeviceType
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="Name != null and Name != ''">
                Name,
            </if>
            <if test="Model != null and Model != ''">
                Model,
            </if>
            <if test="Attention != null and Attention != ''">
                Attention,
            </if>
            <if test="Describtion != null and Describtion != ''">
                Describtion,
            </if>
            <if test="Reserve != null and Reserve != ''">
                Reserve,
            </if>
            IsDeleted
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="Name != null and Name != ''">
                #{Name,jdbcType=VARCHAR},
            </if>
            <if test="Model != null and Model != ''">
                #{Model,jdbcType=VARCHAR},
            </if>
            <if test="Attention != null and Attention != ''">
                #{Attention,jdbcType=VARCHAR},
            </if>
            <if test="Describtion != null  and Describtion != ''">
                #{Describtion,jdbcType=VARCHAR},
            </if>
            <if test="Reserve != null  and Reserve != ''">
                #{Reserve,jdbcType=VARCHAR},
            </if>
            0
        </trim>
    </insert>

    <update id="updateDeviceTypeByID" parameterType="java.util.Map">
        update DeviceType
        <trim prefix="set" suffixOverrides=",">
            <if test="Name != null and Name !=''">
                Name= #{Name},
            </if>
            <if test="Model != null and Model !=''">
                Model= #{Model},
            </if>
            <if test="Attention != null and Attention !=''">
                Attention= #{Attention},
            </if>
            <if test="Describtion != null and Describtion !=''">
                Describtion= #{Describtion},
            </if>
            <if test="Reserve != null and Reserve !=''">
                Reserve= #{Reserve},
            </if>
            <if test="IsDeleted != null">
                IsDeleted=#{IsDeleted} ,
            </if>
            ModifiedDate = now()
        </trim>
        where id = #{DeviceTypeId}
    </update>

    <select id="selectDeviceType" parameterType="java.util.Map"
            resultType="java.util.Map">
        select id, Name, Model, Attention, Describtion, CreatedDate,
        ModifiedDate, Reserve
        from DeviceType
        where IsDeleted = 0
        <if test="Name  != null and Name != ''">
            and Name LIKE #{Name}
        </if>
        <if test="Model  != null and Model != ''">
            and Model = #{Model}
        </if>
        <if test="Attention  != null and Attention != ''">
            and Attention LIKE #{Attention}
        </if>
        <if test="Describtion  != null and Describtion != ''">
            and Describtion LIKE #{Describtion}
        </if>
        <if test="Reserve  != null and Reserve != ''">
            and Reserve = #{Reserve}
        </if>
        <if test="DeviceTypeId  != null and DeviceTypeId != ''">
            and id = #{DeviceTypeId}
        </if>
        ORDER BY ModifiedDate DESC
    </select>


    <!--CREATE TABLE `DeviceData` (-->
    <!--`id` int(11) unsigned NOT NULL AUTO_INCREMENT COMMENT '设备ID',-->
    <!--`DeviceId` int(11) NOT NULL COMMENT '设备Id',-->
    <!--`DeviceData` varchar(500) NOT NULL COMMENT '设备数据',-->
    <!--`RecordTime` datetime NOT NULL COMMENT '采集时间',-->
    <!--`CreatedDate` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP COMMENT '创建时间',-->
    <!--`ModifiedDate` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP COMMENT '修改时间',-->
    <!--`IsDeleted` tinyint(4) NOT NULL DEFAULT '0' COMMENT '是否删除 1:是 2:否',-->
    <!--`Reserve` varchar(255) DEFAULT NULL COMMENT '预留字段',-->
    <!--PRIMARY KEY (`id`)-->
    <!--) ENGINE=InnoDB DEFAULT CHARSET=utf8 COMMENT='设备实时数据表';-->

    <insert id="addDeviceData" parameterType="java.util.Map">
        INSERT INTO DeviceData
        <trim prefix="(" suffix=")" suffixOverrides=",">
            DeviceId,DeviceData,RecordTime,
            <if test="Reserve != null and Reserve != ''">
                Reserve,
            </if>
            IsDeleted
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
                #{DeviceId},#{DeviceData},#{RecordTime},
            <if test="Reserve != null and Reserve != ''">
                #{Reserve},
            </if>
            0
        </trim>
    </insert>

    <select id="selectDeviceDataList" parameterType="java.util.Map"
            resultType="java.util.Map">
        select id,        DeviceId,        DeviceData,
        RecordTime,        CreatedDate,        ModifiedDate,
        Reserve
        from DeviceData
        where IsDeleted = 0
        <if test="DeviceId  != null">
            and DeviceId = #{DeviceId}
        </if>
        <if test="recordTimeStart !=null">
            and  unix_timestamp(RecordTime)>=unix_timestamp(#{recordTimeStart})
        </if>
        <if test="recordTimeEnd !=null">
            and  unix_timestamp(RecordTime)>=unix_timestamp(#{recordTimeEnd})
        </if>
        ORDER BY RecordTime DESC
    </select>

    <!--CREATE TABLE `DeviceDailyData` (-->
    <!--`id` int(11) unsigned NOT NULL AUTO_INCREMENT COMMENT '设备ID',-->
    <!--`DeviceID` int(11) NOT NULL COMMENT '设备Id',-->
    <!--`DailyData` varchar(500) NOT NULL COMMENT '设备数据',-->
    <!--`RecordTime` date NOT NULL COMMENT '采集时间',-->
    <!--`CreatedDate` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP COMMENT '创建时间',-->
    <!--`ModifiedDate` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP COMMENT '修改时间',-->
    <!--`IsDeleted` tinyint(4) NOT NULL DEFAULT '0' COMMENT '是否删除 1:是 2:否',-->
    <!--`Reserve` varchar(255) DEFAULT NULL COMMENT '预留字段',-->
    <!--PRIMARY KEY (`id`)-->
    <!--) ENGINE=InnoDB DEFAULT CHARSET=utf8 COMMENT='设备日数据表';-->

    <insert id="addDeviceDailyData" parameterType="java.util.Map">
        INSERT INTO DeviceDailyData
        <trim prefix="(" suffix=")" suffixOverrides=",">
            DeviceID,DailyData,RecordTime,
            <if test="Reserve != null and Reserve != ''">
                Reserve,
            </if>
            IsDeleted
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            #{DeviceID},#{DailyData},#{RecordTime},
            <if test="Reserve != null and Reserve != ''">
                #{Reserve},
            </if>
            0
        </trim>
    </insert>
    <select id="selectDeviceDailyDataList" parameterType="java.util.Map"
            resultType="java.util.Map">
        select id,        DeviceID,        DailyData,
        RecordTime,        CreatedDate,        ModifiedDate,
        Reserve
        from DeviceDailyData
        where IsDeleted = 0
        <if test="DeviceId  != null">
            and DeviceId = #{DeviceId}
        </if>
        <if test="recordTimeStart !=null">
            and  unix_timestamp(RecordTime)>=unix_timestamp(#{recordTimeStart})
        </if>
        <if test="recordTimeEnd !=null">
            and  unix_timestamp(RecordTime)>=unix_timestamp(#{recordTimeEnd})
        </if>
        ORDER BY RecordTime DESC
    </select>

    <!--CREATE TABLE `DeviceMonthData` (-->
    <!--`id` int(11) unsigned NOT NULL AUTO_INCREMENT COMMENT '设备ID',-->
    <!--`DeviceID` int(11) NOT NULL COMMENT '设备Id',-->
    <!--`MounthData` varchar(500) NOT NULL COMMENT '设备数据',-->
    <!--`RecordTime` date NOT NULL COMMENT '采集时间',-->
    <!--`CreatedDate` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP COMMENT '创建时间',-->
    <!--`ModifiedDate` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP COMMENT '修改时间',-->
    <!--`IsDeleted` tinyint(4) NOT NULL DEFAULT '0' COMMENT '是否删除 1:是 2:否',-->
    <!--`Reserve` varchar(255) DEFAULT NULL COMMENT '预留字段',-->
    <!--PRIMARY KEY (`id`)-->
    <!--) ENGINE=InnoDB DEFAULT CHARSET=utf8 COMMENT='设备月数据表';-->
    <insert id="addDeviceMonthData" parameterType="java.util.Map">
        INSERT INTO DeviceMonthData
        <trim prefix="(" suffix=")" suffixOverrides=",">
            DeviceID,MounthData,RecordTime,
            <if test="Reserve != null and Reserve != ''">
                Reserve,
            </if>
            IsDeleted
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            #{DeviceID},#{MounthData},#{RecordTime},
            <if test="Reserve != null and Reserve != ''">
                #{Reserve},
            </if>
            0
        </trim>
    </insert>
    <select id="selectDeviceMonthDataList" parameterType="java.util.Map"
            resultType="java.util.Map">
        select id,        DeviceID,        MounthData,
        RecordTime,        CreatedDate,        ModifiedDate,
        Reserve
        from DeviceMonthData
        where IsDeleted = 0
        <if test="DeviceId  != null">
            and DeviceId = #{DeviceId}
        </if>
        <if test="recordTimeStart !=null">
            and  unix_timestamp(RecordTime)>=unix_timestamp(#{recordTimeStart})
        </if>
        <if test="recordTimeEnd !=null">
            and  unix_timestamp(RecordTime)>=unix_timestamp(#{recordTimeEnd})
        </if>
        ORDER BY RecordTime DESC
    </select>


</mapper>
